<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>My hot gallery</title>
    <link rel="stylesheet" href="{% static 'gallery/css/style.css' %}" type="text/css" />
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="{% static 'gallery/js/gallery.js' %}"></script>
</head>
<body>

<div id="canvasWrapper">
    <div id="canvas">

      <div id="headerWrapper">
      <header id="header">

        <div id="logo" data-content-field="site-title">

            <h1 class="logo" data-shrink-original-size="40" style="letter-spacing: 0.075em;">
                 Liberty Netuschil
            </h1>

        </div>

        <div id="topNav">
            <nav class="main-nav dropdown-hover">
                <ul data-content-field="navigation">
                    <li class="gallery-collection">
                        <a href="#">Bikini</a>
                    </li>
                    <li class="gallery-collection active-link">
                        <a href="/gallery/">Gallery</a>
                    </li>
                    <li class="gallery-collection">
                        <a href="/gallery/slide/">Slide</a>
                    </li>
                    <li class="gallery-collection">
                        <a href="/home/">Home</a>
                    </li>
                </ul>
            </nav>
        </div>

      </header>
      </div>
<div id="pageWrapper">
    <section id="page">
        <div id="mainContent" class="clear" role="main" data-content-field="main-content">
            <div id="grid" class="center">
                {% with 'gallery/images/'|add:img|add:'.jpg' as image_static %}
                <img id="img_view" alt="IMG_3465.JPG" class="loaded"
                    src="{% static image_static %}" >
                {% endwith %}
            </div>
        </div>
    </section>
</div>
</div>
</div>

</body>
</html>