<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>My hot gallery</title>
    <link rel="stylesheet" href="{% static 'gallery/css/style.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'plugin/justifiedGallery/justifiedGallery.min.css' %}" type="text/css" />
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="{% static 'gallery/js/gallery.js' %}"></script>
    <script src="{% static 'plugin/justifiedGallery/jquery.justifiedGallery.min.js' %}"></script>
</head>
<body>

<div id="canvasWrapper">
    <div id="canvas">

      <div id="headerWrapper">
      <header id="header">

        <div id="logo" data-content-field="site-title">

            <h1 class="logo" data-shrink-original-size="40" style="letter-spacing: 0.075em;">
                 Liberty Netuschil
            </h1>

        </div>

        <div id="topNav">
            <nav class="main-nav dropdown-hover">
                <ul data-content-field="navigation">
                    <li class="gallery-collection">
                        <a href="#">Bikini</a>
                    </li>
                    <li class="gallery-collection active-link">
                        <a href="/gallery/">Gallery</a>
                    </li>
                    <li class="gallery-collection">
                        <a href="slide/">Slide</a>
                    </li>
                    <li class="gallery-collection">
                        <a href="/home/">Home</a>
                    </li>
                </ul>
            </nav>
        </div>

      </header>
      </div>


<div id="pageWrapper">
    <section id="page">
        <div id="mainContent" class="clear" role="main" data-content-field="main-content">
            <div id="galleryWrapper">
                <div id="slideshowWrapper" style="height: 600px;" class="slideshow-ready">
                    <div id="slideshow" class="sqs-gallery-design-stacked">
                        <div id="grid" class="justified-gallery">
                            <a href="img01">
                                <img id="img01" alt="IMG_3465.JPG" class="loaded"
                                    src="{% static 'gallery/images/img01.jpg' %}">
                            </a>
                            <a href="img02">
                                <img id="img02" alt="IMG_3465.JPG" class="loaded"
                                    src="{% static 'gallery/images/img02.jpg' %}">
                            </a>
                            <a href="img02">
                                <img id="img03" alt="IMG_3465.JPG" class="loaded"
                                    src="http://static1.squarespace.com/static/551af480e4b0dc90697254d7/551afd92e4b0a89d855d3a9e/568cabb42399a30df61fc838/1452059575550/JGPLIB-3028.jpg?format=1500w">
                            </a>
                            <a href="img02/">
                                <img id="img04" alt="IMG_3465.JPG" class="loaded"
                                    src="http://static1.squarespace.com/static/551af480e4b0dc90697254d7/551afd92e4b0a89d855d3a9e/568cabb64bf1182258ec0163/1452059578470/JGPLIB-3144.jpg?format=500w">
                             </a>
                            <a href="img02/">
                                <img id="img05" alt="IMG_3465.JPG" class="loaded"
                                    src="http://static1.squarespace.com/static/551af480e4b0dc90697254d7/551afd92e4b0a89d855d3a9e/55adc5a3e4b0493eb219a45b/1437452223273/IMG_3363+2.JPG?format=500w">
                            </a>
                            <a href="img02/">
                                <img id="img06" alt="IMG_3465.JPG" class="loaded"
                                    src="http://static1.squarespace.com/static/551af480e4b0dc90697254d7/551afd92e4b0a89d855d3a9e/56c534257da24f92b16cdef0/1455764530443/Tielly+Ogura+-+Liberty+shoot-4.jpg?format=750w">
                            </a>
                            <a href="/img02/">
                                <img id="img07" alt="IMG_3465.JPG" class="loaded"
                                    src="http://static1.squarespace.com/static/551af480e4b0dc90697254d7/551afd92e4b0a89d855d3a9e/55f8e7aee4b021eb64ca72d1/1442375626694/?format=500w">
                            </a>
                            <a href="/img02/">
                                <img id="img08" alt="IMG_3465.JPG" class="loaded"
                                    src="http://static1.squarespace.com/static/551af480e4b0dc90697254d7/551afd92e4b0a89d855d3a9e/55d3afbfe4b0ada576d23930/1439936687337/Tielly+Ogura+-+Liberty+Shoot+-+Joshua-76.jpg?format=1500w">
                            </a>
                            <a href="/img02/">
                                <img id="img09" alt="IMG_3465.JPG" class="loaded"
                                    src="http://static1.squarespace.com/static/551af480e4b0dc90697254d7/551afd92e4b0a89d855d3a9e/55a547fee4b00cb07c872310/1437798074254/?format=500w">
                            </a>
                            <a href="/img02/">
                                <img id="img10" alt="IMG_3465.JPG" class="loaded"
                                    src="http://static1.squarespace.com/static/551af480e4b0dc90697254d7/551afd92e4b0a89d855d3a9e/55f8e5fee4b00c68108fd6fd/1442375370372/LibertyLoft11.jpg?format=1500w">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</div>
</div>

</body>
</html>