{% load staticfiles %}
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'login/css/home.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/bootstrap/css/bootstrap.css' %}">
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
                <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">Home page</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">Portfolio</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ request.user }}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/logout/">Log out</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1>Ultimate collection</h1>
        </header>

        <hr>


        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <a href="/gallery/"><img src="http://placehold.it/800x500" alt=""></a>
                    <div class="caption">
                        <h3>Gallery</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                    <div class="thumbnail">
                        <a href="/polls/"><img src="http://placehold.it/800x500" alt=""></a>
                        <div class="caption">
                            <h3>Polls</h3>
                        </div>
                    </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <a href="/quiz"><img src="http://placehold.it/800x500" alt=""></a>
                    <div class="caption">
                        <h3>Quiz</h3>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <a href="#"><img src="http://placehold.it/800x500" alt=""></a>
                    <div class="caption">
                        <h3>Feature Label</h3>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="{% static 'plugin/bootstrap/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'plugin/bootstrap/js/bootstrap.min.js' %}"></script>


</body>
</html>