{% load i18n %}
{% load staticfiles %}
<head>
<title>{% block title %}{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
{% block extrameta %}{% endblock %}

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" />
{% block extrastyle %}{% endblock %}

</head>
<body class="{% block bodyclass %}{% endblock %}">
  <div class="container">
    {% block content %}
		{% endblock %}
    <footer></footer>
  </div>
  </body>
</html> 