{% load staticfiles %}
<html>
<head>
    <title>Quiz</title>
    <link rel="stylesheet" href="{% static 'quiz/css/index.css' %}">
</head>

<body>

<div id="header" role="banner">
    <div id="header-img" class="default-header"></div>
</div>

<div class="question">
    <a class="title may-blank " href="/r/aws/comments/47j1hc/opsworks_migration_in_a_rails_layer_with_some/"
       tabindex="1" rel="nofollow">[OpsWorks] Migration in a rails layer with some caching problem ...</a>
</div>

<div class="answer hidden">
    Answer here
</div>

<div class="question">
    <a class="title may-blank " href="/r/aws/comments/47ghtv/aws_professional_architect_retake_exam/"
       tabindex="1" rel="nofollow">AWS Professional Architect retake exam..</a>
</div>

<div class="question">
    <a class="title may-blank " href="/r/aws/comments/47ffey/elb_get_vs_head/"
       tabindex="1" rel="nofollow">ELB: GET vs HEAD</a>
</div>

<div class="question">
    <a class="title may-blank " href="/r/aws/comments/47hrem/how_do_i_see_all_services_which_are_costing_money/"
       tabindex="1" rel="nofollow">How do I see all services which are costing money?</a>
</div>

<div class="answer hidden">
    Answer here
</div>
<hr>

</body>
</html>